

.mostrador{
    width: 408px;
    height: 80px;
    margin: auto;
    margin-top: 50px;
}

.mostrador p{
    float: left;
    margin-right: 10px;
}

.tabuleiro{
    width: 408px;
    height: 408px;
    margin: auto;
}

.espaco{
    width: 100px;
    height: 70px;
    border: 2px solid black;
    float: left;
    text-align: center;
    padding-top: 30px; 

}